body {
    background-color: #1E1E1E;
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
    color: white;
}

.container {
   
    margin: 0 auto;
    /* width: fit-content; */
}

img {
    width: 55px;
    height: 55px;
}

.main {
    width: fit-content;
}

.flexer {
    display: flex;
}