.header {
    width: 100vw;
    height: 118px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: #1E1E1E;
}

.header img {
    width: 55px;
    height: 55px;
}

.header__logo {
    font-size: 50px;
    font-weight: 600;
    color: #D6604F;
    margin: auto 0;
    margin-left: 30px;
}

.header__center {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.header__search {
    display: flex;
    background-color: #646363;
    border-radius: 100px;
    align-items: center;
    margin: 0 25px;
}

.header__searchInput:focus,
.header__searchInput {
    width: 100%;
    background-color: #646363;
    border-width: 0;
    border-radius: 100px;
    font-size: 25px;
    outline: none;
    padding-left: 10px;
    padding-right: 15px;
    color: #d6d5d5;
}

.header__loop img {
    width: 34px;
    height: 34px;
    margin-left: 15px;
}

.header__userImg img {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.header__userImg {
    padding-left: 25px;
}

.header__notificationImg {
    padding-left: 25px;
}

.header__user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
    width: fit-content;
    padding-right: 30px;
}

.header__signIn {
    width: 160px;
    height: 52px;
    margin: auto 0;
    margin-right: 30px;
    border-radius: 30px;
}

.header__adminImg,
.header__loop,
.header__theme,
.header__createImg,
.header__notificationImg,
.header__userImg {
    width: fit-content;
    height: fit-content;
}

.header__settingsList {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.header__settingsItem {
    padding-bottom: 15px;
}

.header__settingName {
    margin: 0;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 24px;
}

.header__input, .header__input:focus {
    background-color: #C2B8B8;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    outline: none;
    color: #727272;
}

.header__input:focus {
    color: white;
}

.header__changeAvatar, .header__logout {
    color: white;
    background-color: #232323;
    border: 1px solid #D6604F;
    border-radius: 30px;
    font-size: 24px;
    padding: 5px 10px;
    font-weight: 400;
}

.header__logout {
    margin-top: 10px;
}

.header__changeAvatar {
    margin-top: 15px;
}