.header {
    width: 100vw;
    height: 118px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid white;
    position: fixed;
    left: 0;
    z-index: 2;
    background-color: #1E1E1E;
}

.header img {
    width: 55px;
    height: 55px;
}

.header__logo {
    font-size: 50px;
    font-weight: 600;
    color: #D6604F;
    margin: auto 0;
    margin-left: 30px;
}

.header__center {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.header__search {
    display: flex;
    background-color: #646363;
    border-radius: 100px;
    align-items: center;
    margin: 0 25px;
}

.header__searchInput {
    width: 850px;
    background-color: #646363;
    border-style: none;
    border-radius: 100px;
}

.header__loop img {
    width: 34px;
    height: 34px;
    margin-left: 15px;
}

.header__userImg img {
    width: 80px;
    height: 80px;
}

.header__userImg {
    padding-left: 25px;
}

.header__notificationImg {
    padding-left: 25px;
}

.header__user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
    width: fit-content;
    padding-right: 30px;
}

.header__signIn {
    width: 160px;
    height: 52px;
    margin: auto 0;
    margin-right: 30px;
    border-radius: 30px;
}

.header__adminImg, .header__loop, .header__theme, .header__createImg, .header__notificationImg, .header__userImg {
    width: fit-content;
    height: fit-content;
}