.post {
    position: relative;
    width: fit-content;
    margin: auto;
    top: 138px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    max-width: 850px;
    padding: 15px;
    padding-top: 35px;
    border-bottom: 1px solid white;

    @media (max-width: 1750px) {
        max-width: 600px;
    }
    @media (max-width: 1500px) {
        margin: 0;
        left: 20vw;
    }
}

.post:first-child {
    padding-top: 0;
}

.post__top {
    display: flex;
    justify-content: space-between;
}

.post__header {
    display: flex;
    flex-direction: column;
}

.post__authorImg img,
.post__likeImg img,
.post__commentImg img {
    width: 55px;
    height: 55px;
}

.post__mainImg {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    width: 820px;
    height: 420px;
    border-radius: 10px;

    @media (max-width: 1750px) {
        max-width: 600px;
    }
}

.post__mainImg img {
    margin: auto;
    height: 100%;
    max-width: 100%;
    max-height: 420px;
    object-fit: contain;
}

.post__user {
    display: flex;
    padding-bottom: 10px;
}

.post__author {
    margin: auto;
    padding-right: 15px;
}

.post__reactions {
    display: flex;
    padding-top: 15px;
}

.post__comments {
    padding-left: 20px;
    display: flex;
}

.post__likes {
    display: flex;
}

.post__likesCount,
.post__commentsCount {
    margin: auto;
    padding-left: 10px;
    font-size: 24px;
    font-weight: 500;
}

.post__title {
    font-size: 36px;
}

.post__categories {
    font-size: 14px;
}

.post__prewiev {
    padding-top: 15px;
    font-size: 20px;
    font-weight: 300;
}