.rating {
    background-color: #232323;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    position: fixed;
    right: 30px;
    top: 138px;
    display: flex;
    flex-direction: column;

    @media (max-width: 2000px) {
        max-width: 400px;
    }

    @media (max-width: 1350px) {
        max-width: 300px;
    }
}

.rating__list {
    margin: 0 auto;
    padding: 20px 30px;
}

.rating__item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.rating__item:last-child {
    padding-bottom: 0;
}

.rating__userImg img {
    width: 40px;
    height: 40px;
}

.rating__userImg,
.likes__image {
    width: fit-content;
    height: fit-content;
}

.rating__likes img {
    width: 40px;
    height: 40px;
    padding-right: 10px;
}

.likes__count {
    font-size: 16px;
    font-weight: 500;
    height: fit-content;
    width: fit-content;
    margin: auto;
}

.rating__title {
    width: fit-content;
    margin: auto;
    font-size: 32px;
    font-weight: 400;
    padding-top: 20px;

    @media (max-width: 2000px) {
        font-size: 28px;
    }

    @media (max-width: 1350px) {
        font-size: 24px;
    }
}

.rating__postTitle {
    margin: auto 30px;
    font-size: 24px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;

    @media (max-width: 2000px) {
        max-width: 150px;
        margin: auto 10px;
        font-size: 18px;
    }

    @media (max-width: 1350px) {
        max-width: 100px;
        margin: auto 10px;
        font-size: 18px;
    }
}

.rating__likes {
    display: flex;
}